jellyfin.homelab {
    tls internal
    reverse_proxy 10.0.0.60:8096
}

kavita.homelab {
    tls internal
    reverse_proxy 10.0.0.60:5000
}

nextcloud.homelab {
    tls internal
    reverse_proxy 10.0.0.60:8080
}

navidrome.homelab {
    tls internal
    reverse_proxy 10.0.0.60:4533
}

portainer.homelab {
    tls internal
    reverse_proxy https://10.0.0.60:9443 {
	transport http {
		tls_insecure_skip_verify
	}
    }    
}

uptime.homelab {
    tls internal
    reverse_proxy 10.0.0.60:3001
}

dashboard.homelab {
    tls internal
    reverse_proxy 10.0.0.60:8081
}
